.scoreboard{
  display: flex;
  flex-wrap: wrap;

  .user{
    display: flex;
    align-items: center;
    margin-right: 1rem;

    h3{
      margin-right: .3rem;
    }
  }
}

.heart-cont{
  
  border: solid white 2px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  .btn-heart{
    background-color: var(--color-highlight);
    border: solid white 3px;
    border-radius: 30px;
    padding: 1em;
    position: absolute;
    top: 10%;
    right: 10%;
    transition: .01s;

    &:hover{
      background-color: white;
      color: var(--color-highlight);
    }

    &:active{
      background-color: var(--color-highlight);
      border: solid var(--color-highlight) 3px;
    }

    svg{
      font-size: 50px;

    }
  }
}